
@{
    ViewData["Title"] = "AccessDenied";
}

<h2>AccessDenied</h2>

<div class="bg-danger mb-1 p-2 text-white">
    You have no access
</div>
<a asp-controller="Account" asp-action="Index" class="btn btn-primary" > Return Home Page</a>